<div class="base">
    <a href="/pt"><img src="/icons/BevelledPortugal.svg" alt="Portuguese Flag" width="32" height="21"></a>
    &nbsp;
    <a href="/"><img src="/icons/BevelledUSA.svg" alt="USA Flag" width="32" height="17"></a>
</div>
<style>
    .base {
        display: flex;
        align-items: center;
        
        position: absolute;
        top: 20px;
        right: 20px;
    }
</style>