---
const { subset } = Astro.props;

function readSubs (sub) {
    return sub.map (s => {
        let add = '';
        if (s.subset && s.subset.length > 0) {
            s.subset.forEach(s => add += s.name);
        }
        return <div>{s.name} <span>{add}</span></div>;
    })
}
---
<div class="subset hidden">
    {readSubs(subset)}
</div>
