---
const { id, extraMainClasses, extraSubClasses } = Astro.props;
---
<div id="{id}" class="{`my-container p-4 sm:px-14 ${extraMainClasses}`}">
    <div class="{`mw w-full ${extraSubClasses}`}">
        <slot/>
    </div>
</div>