---
import Favicon from '../components/helpers/favicon.astro';
import Skills from '../components/data/skills.json';

import Header from '../components/header.astro';
import How from '../components/how.astro';
import Fields from '../components/fields.astro'
import About from '../components/about.astro'
import Contact from '../components/vue/contact.vue'
import Footer from '../components/footer.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="Artur Teixeira"/>
    <meta name="description" content="Get applications that bring value. Pragmatic solutions for your problems. Contact me for a free 30-min consultation!">
    <title>Artur Teixeira - Freelance Software Engineer</title>
    <Favicon />    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/comp.css">
    <link rel="stylesheet" href="/style/fields.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DEBRCHVL82"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DEBRCHVL82');
    </script>
</head>
<body>
    <div class="full-page">
      <Header />
      <How />
      <Fields skills="{Skills}" />
      <About />
      <Contact skills="{Skills}" client:visible />
      <Footer />
    </div>
</body>
</html>
