---
import Wrapper from './helpers/wrapper.astro';
import Subset from './helpers/subset.astro';

const { skills } = Astro.props;
---
<Wrapper extraMainClasses="py-16 bg-blue-light text-blue">
    <div class="title-comp">fields of expertise</div>
    <div class="sub-title-comp">Web and Mobile Multiplatform Android</div>
    <div class="content">
        I've been through every job on the field, from a ticket-grabbing developer, through full-stack, infrastructure, database management, continuous delivery, frontend and backend engineering, and even information security.
    </div>
    <div>
        {skills.map(skill =>
            <span>
                <button class="{`w-full sm:w-auto mx-1.5 mb-2.5 py-2.5 px-7 text-white ${skill.class}`}">
                    <span class="underline">{skill.name}</span>
                    <span>▼</span>
                </button>
                <Subset subset="{skill.subset}" />
            </span>
        )}
    </div>
</Wrapper>
<style>
button {
    border-radius: 100px;
    /* Figma starts here */
    font-family: Norwester;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
</style>