---
import Wrapper from './helpers/wrapper.astro';
import Subset from './helpers/subset.astro';

const { t } = Astro.props;
---
<Wrapper extraMainClasses="py-16 bg-blue-light text-blue">
    <div class="title-comp">{t('FIELDS.TITLE')}</div>
    <div class="sub-title-comp">{t('FIELDS.SUBTITLE')}</div>
    <div class="content">{t('FIELDS.DESCRIPTION')}</div>
    <div>
        {t('SKILLS').map(skill =>
            <div class="sm:relative inline-block">
                <button class={`w-full sm:w-auto mx-1.5 mb-2.5 py-2.5 px-7 text-white ${skill.class}`}>
                    <span class="underline">{skill.name}</span>
                    <span class="ml-1">▼</span>
                </button>
                <Subset subset={skill.subset} />
            </div>
        )}
    </div>
</Wrapper>
<style>
button {
    border-radius: 100px;
    /* Figma starts here */
    font-family: Norwester;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
</style>