<div id="footer" class="my-container p-4 sm:px-14 bg-blue text-white">
    <div class="mw w-full">
        <div class="name">Artur Teixeira</div>
        <div class="links">info@artur-teixeira.tech</div>
        <a class="links cursor-pointer" href="/">
            Freelance Software Engineer
        </a>
    </div>
</div>
<style>
    .name {
        /* Start figma here */
        font-family: Norwester;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .links {
        text-decoration-line: underline;
        /* Start figma here */
        font-family: Kollektif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
</style>