---
import Wrapper from './helpers/wrapper.astro';

const email = 'info@artur-teixeira.tech';
const { l, t } = Astro.props;
---
<Wrapper id="footer" extraMainClasses="bg-blue text-white">
    <div class="name">Artur Teixeira</div>
    <a href={`mailto:${email}`} class="links">{email}</a><br>
    <a class="links cursor-pointer" href={l === 'en' ? '/' : '/' + l}>{t('FOOTER.TITLE')}</a>
</Wrapper>
<style>
    .name {
        /* Start figma here */
        font-family: Norwester;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .links {
        text-decoration-line: underline;
        /* Start figma here */
        font-family: Kollektif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }
</style>