---
import Wrapper from './helpers/wrapper.astro';
import ChangeLanguage from './helpers/changeLanguage.astro';

// Need l for design change in the title
const { l, t } = Astro.props;
---
<Wrapper id="header" extraMainClasses="text-white" extraSubClasses="z-10">
    <ChangeLanguage />
    <div class={l=='pt' ? 'title mb-2 header-title-pt-override' : 'title mb-2'}>
        {t('HEADER.TITLE')}
    </div>
    <div class="subtitle">{t('HEADER.SUBTITLE')}</div>
    <div class="subsubtitle">{t('HEADER.SUBSUBTITLE')}</div>
    <div class="mt-4">
        <a href="#contact" class="header-b bg-orange">
            {t('HEADER.BUTTON')}
        </a>
    </div>
</Wrapper>
