---
import Wrapper from './helpers/wrapper.astro';
---
<Wrapper id="header" extraMainClasses="text-white" extraSubClasses="z-10">
    <div class="title mb-2">discuss<br/>organize<br/>develop!</div>
    <div class="subtitle">applications that bring value.</div>
    <div class="subsubtitle">Contact me for a free 30-min consultation.</div>
    <!-- TODO: Missing onclick -->
    <button class="header-b bg-orange">get in touch now!</button>
</Wrapper>
