---
import Wrapper from './helpers/wrapper.astro';
import ChangeLanguage from './helpers/changeLanguage.astro';
---
<Wrapper id="header" extraMainClasses="text-white" extraSubClasses="z-10">
    <ChangeLanguage />
    <div class="title mb-2">discuss<br/>organize<br/>develop!</div>
    <div class="subtitle">applications that bring value.</div>
    <div class="subsubtitle">Contact me for a free 30-min consultation.</div>
    <div class="mt-4">
        <a href="#contact" class="header-b bg-orange">get in touch now!</a>
    </div>
</Wrapper>
