---
import Chat from '../../public/icons/chat.astro';
---
<div class="my-container py-16 px-4 sm:p-14 text-blue">
    <div class="mw w-full">
        <div class="title">how i work</div>
        <div class="sub-title mb-6">"Pragmatic solutions for your problems."</div>
        <div class="content">I believe all challenges should be dealt sensibly and realistically, in a way that is based on practicality rather than theoretical considerations. Quality is the name of the game here, all deliverables will be up to the highest standard.</div>
        <div class="grid grid-cols-3">
            <div>
                <div class="flex justify-center"><Chat fcolor="orange-light"/></div>
                <div class="icon-title">We talk</div>
                <div class="icon-content">
                    and toghether figure out the problems, goals, and what brings you added value.
                </div>
            </div>
            <div>
                <div class="flex justify-center"><Chat fcolor="orange"/></div>
                <div class="icon-title">step-by-step</div>
                <div class="icon-content">
                    we draft the strategies and means to figure what is necessary to achieve your goal.
                </div>
            </div>
            <div>
                <div class="flex justify-center"><Chat fcolor="orange-dark"/></div>
                <div class="icon-title">Budget Solutions</div>
                <div class="icon-content">
                    Payment either per project or hourly rate is agreed upon.
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .title {
        text-transform: capitalize;
        /* Figma starts here */
        font-family: Norwester;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .sub-title {
        text-transform: uppercase;
        /* Figma starts here */
        font-family: Kollektif;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .content {
        /* Figma starts here */
        font-family: Hind;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: justify;
    }

    .icon-title {
        text-align: center;
        text-transform: capitalize;
        /* Figma starts here */
        font-family: Norwester;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
    }
    
    .icon-content {
        /* Figma starts here */
        font-family: Hind;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }
</style>