---
import Wrapper from './helpers/wrapper.astro';
import Chat from '../../public/icons/chat.astro';
---
<Wrapper extraMainClasses="py-16 text-blue">
    <div class="title-comp">how i work</div>
    <div class="sub-title-comp">"Pragmatic solutions for your problems."</div>
    <div class="content">I believe all challenges should be dealt sensibly and realistically, in a way that is based on practicality rather than theoretical considerations. Quality is the name of the game here, all deliverables will be up to the highest standard.</div>
    <div class="grid grid-cols-1 sm:grid-cols-3">
        <div class="mx-4">
            <div class="flex justify-center"><Chat fcolor="orange-light"/></div>
            <div class="icon-title">We talk</div>
            <div class="icon-content">
                and toghether figure out the problems, goals, and what brings you added value.
            </div>
        </div>
        <div class="mx-4 my-12 sm:my-0">
            <div class="flex justify-center"><Chat fcolor="orange"/></div>
            <div class="icon-title">step-by-step</div>
            <div class="icon-content">
                we draft the strategies and means to figure what is necessary to achieve your goal.
            </div>
        </div>
        <div class="mx-4">
            <div class="flex justify-center"><Chat fcolor="orange-dark"/></div>
            <div class="icon-title">Budget Solutions</div>
            <div class="icon-content">
                Payment either per project or hourly rate is agreed upon.
            </div>
        </div>
    </div>
</Wrapper>
<style>
    .icon-title {
        text-align: center;
        text-transform: capitalize;
        /* Figma starts here */
        font-family: Norwester;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
    }
    
    .icon-content {
        text-align: justify;
        /* Figma starts here */
        font-family: Hind;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }
</style>