---
import Wrapper from './helpers/wrapper.astro';
import Chat from '../../public/icons/chat.astro';

const {t} = Astro.props;
---
<Wrapper extraMainClasses="py-16 text-blue">
    <div class="title-comp">{t('HOW.TITLE')}</div>
    <div class="sub-title-comp">{t('HOW.SUBTITLE')}</div>
    <div class="content">{t('HOW.DESCRIPTION')}</div>
    <div class="grid grid-cols-1 sm:grid-cols-3">
        <div class="mx-4">
            <div class="flex justify-center"><Chat fcolor="orange-light"/></div>
            <div class="icon-title">{t('HOW.PART1')}</div>
            <div class="icon-content">{t('HOW.SUBPART1')}</div>
        </div>
        <div class="mx-4 my-12 sm:my-0">
            <div class="flex justify-center steps">
                <img src="/icons/steps.svg" alt="Steps" width="80" height="80">
            </div>
            <div class="icon-title">{t('HOW.PART2')}</div>
            <div class="icon-content">{t('HOW.SUBPART2')}</div>
        </div>
        <div class="mx-4">
            <div class="flex justify-center steps">
                <img src="/icons/budget.svg" alt="Budget" width="80" height="80">
            </div>
            <div class="icon-title">{t('HOW.PART3')}</div>
            <div class="icon-content">{t('HOW.SUBPART3')}</div>
        </div>
    </div>
</Wrapper>
<style>
    .steps {
        padding: 1.55rem;
    }

    .icon-title {
        text-align: center;
        text-transform: capitalize;
        /* Figma starts here */
        font-family: Norwester;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
    }
    
    .icon-content {
        text-align: center;
        /* Figma starts here */
        font-family: Hind;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
    }
</style>