<div class="my-container py-16 px-4 sm:p-14 text-blue">
    <div class="mw w-full">
        <div class="title">how i work</div>
        <div class="sub-title mb-6">"Pragmatic solutions for your problems."</div>
        <div class="content">I believe all challenges should be dealt sensibly and realistically, in a way that is based on practicality rather than theoretical considerations. Quality is the name of the game here, all deliverables will be up to the highest standard.</div>
    </div>
</div>
<style>
    .title {
        text-transform: capitalize;
        /* Figma starts here */
        font-family: Norwester;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .sub-title {
        text-transform: uppercase;
        /* Figma starts here */
        font-family: Kollektif;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .content {
        /* Figma starts here */
        font-family: Hind;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: justify;
    }
</style>