---
import Wrapper from './helpers/wrapper.astro';
---
<Wrapper extraMainClasses="py-16 text-blue bg-blue-light">
    <div class="title-comp">portfolio</div>
    <div class="sub-title-comp">where can you find my work</div>
    <div class="lg:grid lg:grid-cols-3">
        <div>Link to projects here.</div>
    </div>
</Wrapper>