---
import Wrapper from './helpers/wrapper.astro';

const portfolio = [
    {
        url: 'https://www.skeeled.com/',
        picUrl: '/portfolio/skeeled.png',
        name: 'SKEELED.NAME',
        companyName: 'skeeled',
        content: 'SKEELED.CONTENT'
    },
    {
        url: 'https://www.linkedin.com/company/topdocs/',
        picUrl: '/portfolio/topdox.jpeg',
        name: 'TOPDOX.NAME',
        companyName: 'TOPDOX',
        content: 'TOPDOX.CONTENT'
    },
    {
        url: 'https://group.jumia.com/',
        picUrl: '/portfolio/jumia.png',
        name: 'JUMIA.NAME',
        companyName: 'JUMIA',
        content: 'JUMIA.CONTENT'
    },
    {
        url: 'https://www.hermes-technic.pl/',
        picUrl: '/portfolio/hermes.png',
        name: 'HERMES.NAME',
        companyName: 'Hermes Technic',
        content: 'HERMES.CONTENT'
    },
    {
        url: 'https://github.com/arturjnt/kulut',
        picUrl: 'https://raw.githubusercontent.com/arturjnt/kulut/main/assets/images/print.jpeg',
        name: 'KULUT.NAME',
        companyName: 'Open Source',
        content: 'KULUT.CONTENT'
    },
    {
        url: 'https://github.com/arturjnt/att-website-v2',
        picUrl: '/assets/ogimage.png',
        name: 'WEBSITE.NAME',
        companyName: 'Open Source',
        content: 'WEBSITE.CONTENT'
    }
];

const {t} = Astro.props;
---
<Wrapper id="portfolio" extraMainClasses="py-16 text-blue bg-blue-light">
    <div class="title-comp">{t('PORTFOLIO.TITLE')}</div>
    <div class="sub-title-comp mb-8">{t('PORTFOLIO.SUBTITLE')}</div>
    <div class="grid sm:grid-cols-2 md:grid-cols-3">
        {portfolio.map(p => <a href="{p.url}" target="_blank" rel="noopener" class="block border-2 rounded-md m-1 border-blue-dark">
            <div class="text-white px-2 py-1 bg-blue-dark">
                <div class="font-bold">{p.companyName}</div>
                <div>{t('PORTFOLIO.WORKS.' + p.name)}</div>
            </div>
            <div style="{`background-image: url(${p.picUrl})`}" class="img"></div>
            <div class="hidden">
                <div class="flex self-center">{t('PORTFOLIO.WORKS.' + p.content)}</div>
            </div>
        </a>)}
    </div>
</Wrapper>
<style>
.img {
    height: 176px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
a:hover > .hidden {
    display: flex;
    padding: 4px;
    height: 176px;
}
a:hover > .img {
    display: none;
}
</style>