---
import Wrapper from './helpers/wrapper.astro';
---
<Wrapper extraMainClasses="py-16 text-blue">
    <div class="title-comp">reviews</div>
    <div class="sub-title-comp">what they say about me</div>
    <div class="content">If you are to trust me with your hard earned money, you want to make sure I can do the job preemptively, I get it, I would do exactly the same. Feel free to read what my clients have said.</div>
    <!-- ! ADD REVIEWS COMPONENT -->
</Wrapper>